body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffac9;
    color: #3e2723;
    margin: 0;
}

nav {
    background-color: #ffcfe6;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #3e2723;
}

.menu {
    text-align: center;
    padding: 50px 20px;
}

.categoria {
    margin: 40px 0;
}

.item {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.item img {
    width: 250px;
    height: 220px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

footer {
    background-color: #c8ff89;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
