body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffac9;
    color: #3e2723;
    margin: 0;
}

nav {
    background-color:  #ffcfe6;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #3e2723;
    font-weight: 500;
}

nav ul li a:hover {
    color: #8d6e63;
}

.sucursales {
    text-align: center;
    padding: 80px 20px;
}

.sucursales h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.sucursales p {
    font-size: 1.2rem;
    margin: 10px 0;
}
.item {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.item img {
    width: 200px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
footer {
    background-color: #c8ff89;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
